/* Start coding here */
.container {
  background-color: lightgrey;
  height: 100vh;
  padding: 50px;
  display: flex;
  flex-direction: column;
}
.box-1 {
  background-color: orange;
  flex-basis: 25%;
}
.box-2 {
  background-color: khaki;
  flex-basis: 25%;
}
.box-3 {
  background-color: cornflowerblue;
  flex-basis: 50%;
}
